.App {
  text-align: center;
  background-color: #ccbeb1;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(201, 141, 99);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.product_img{
  object-fit: contain;
  width: 100%;
  height: 200px;
}
#background{
  background-color: #f2e9dc;
  background-image: url(../../../../../Downloads/atesdesigns-image-3280358_1920.jpg);
  min-height: 100hv;
}
.btn{
  background-color: #1d3557;
}
.card-body{
  background-image: url(../../../../../Downloads/atesdesigns-round-3280402_1920.jpg);
}
.background{
  background-color: #1a1a2e;
}
#facebook{
  text-align: center;
}
